[Unit]
Description=BoardProxy socket (%i)

[Socket]
ListenSequentialPacket=/run/%i/boardproxy

# Override the following in drop-in snippets (see systemctl edit)
SocketUser=%i
SocketGroup=%i
SocketMode=0660
DirectoryMode=0710

[Install]
WantedBy=multi-user.target
